.main{
	margin: 0 auto;
	width: 100%;
}
.quanbu{
	margin: 0 auto;
	width: 980px;
}
.pd_1{
	float: left;
	width: 980px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dashed #979797;
}
.pd_2 li{
	float: left;
}
.pd_3{
	background: url(../imgxc/pic_1.gif)5px center no-repeat;
	text-indent: 15px;
}
.pd_4{
	float: left;
	width: 978px;
	height: 72px;
	border: 1px solid #bedcf3;
	margin-top: 10px;
	background:#e6f2ff;
}
.pd_5{
	float: left;
	width: 141px;
	height: 63px;
	border-right: 1px solid #bedcf3;
	margin-top:4px;
}
.pd_5 img{
	float: left;
	margin-top: 15px;
	margin-left: 12px;
}
.pd_6{
	float: left;
	font-size: 23px;
	line-height: 60px;
	margin-left: 10px;
	color:#ff7a00;
}
.pd_7{
	width: 835px;
	float: left;
	height: 73px;
	margin-top: 4px;
}
.pd_7 li{
	float: left;
	margin-left: 5px;
	font-size: 14px;
	color:#666666;
}
.pd_8{
	float: left;
	width: 835px;
	margin-top: 15px;
}
.pd_9{
	font-weight: bold;
}
.pd_10{
	float: left;
	width: 980px;
}
.pd_11{
	float: left;
	width: 265px;
	height: 238px;
	border: 1px solid #0d8fe5;
}
.pd_12{
	float: left;
	width: 265px;
	height: 31px;
	background: #0d8fe5;
	font-size: 14px;
	line-height: 31px;
	text-indent: 10px;
	font-weight: bold;
	color: white;
}
.pd_13{
	float: left;
	width: 263px;
	height: 28px;
	border: 1px solid #b9e3ff;
	background:#dcf2ff;
	font-size: 14px;
	line-height: 28px;
	text-indent: 10px;
	font-weight: bold;
	color:#0d8fe5;
}
.pd_14{
	float: left;
	width: 265px;
	height: 66px;
}
.pd_15{
	float: left;
	width: 265px;
	height: 34px;
	border-bottom: 1px dashed #d7f0ff;
}
.pd_15 li{
	float: left;
	font-size: 12px;
	color:#43b8ff;
	margin: 0 20px;
	line-height: 34px;
}
.pd_16{
	float: left;
	width: 265px;
	height: 32px;
	border-bottom: 1px dashed #d7f0ff;
}
.pd_16 li{
	float: left;
	font-size: 12px;
	color:#43b8ff;
	margin: 0 20px;
	line-height: 32px;
}
.xc_27{
	float: left;
	height: 837px;
	width: 263px;
	border: 2px solid #0d8fe5;
	margin-top: 30px;
}
.xc_28{
	float: left;
	width: 263px;
	height: 30px;
	background: #0d8fe5;
	font-size: 14px;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}
.xc_29{
	float: left;
	width: 261px;
	height: 28px;
	border: 1px solid #b9e3ff;
	background:#dcf2ff;
}
.xc_30{
	float: left;
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
	color:#0069d5;
	line-height: 28px;
}
.xc_31{
	float: right;
	margin-top: 9px;
	margin-right: 10px;
}
.xc_32{
	height: 30px;
	width: 263px;
}
.xc_32 li{
	float: left;
	font-size: 12px;
	margin-left: 13px;
	line-height: 30px;
}
.xc_33{
	font-weight: bold;
}
.xc_34{
	height: 30px;
	width: 263px;
	float: left;
	border-bottom: 1px dashed #d4c3c3;
}
.xc_34 li{
	float: left;
	font-size: 12px;
	margin-left: 13px;
	line-height: 30px;
}
.xc_35{
	float: left;
	margin-top: 15px;
}
.xc_36{
	float: left;
	width: 263px;
	height: 30px;
	background: #0d8fe5;
	font-size: 14px;
	color: white;
	font-weight: bold;
	text-indent: 10px;
	line-height: 30px;
}
.xc_37{
	float: left;
	width: 263px;
	height: 720px;
	border: 2px solid #0d8fe5;
}
.xc_38{
	float: left;
	margin-left: 7px;
	margin-top: 9px;
}
.xc_39{
	float: left;
	margin-left: 7px;
}
.xc_39 li{
	font-size: 14px;
	color: #737373;
	height: 31px;
	width: 244px;
	border-bottom: 1px dashed #d5d5d5;
	text-indent: 5px;
	line-height: 31px;
}
.pd_17{
	float: right;
}
.pd_18{
	float: right;
	width: 703px;
	height: 1907px;
}
.pd_19{
	float: left;
	width: 703px;
	height: 43px;
	border-top: 2px solid #e6e6e6;
	margin-top: 1px;
}
.pd_no{
	float: left;
	width: 140px;
	height: 24px;
	margin-top: 10px;
	border-right: 1px solid #e6e6e6;
	text-align: center;
}
.pd_yes{
	float: left;
	width: 138px;
	height: 24px;
	margin-top: 10px;
	border-right: 1px solid #e6e6e6;
	text-align: center;
}
.pd_yes .pd_21{
	font-size: 14px;
	font-weight: bold;
	color: black;
	line-height: 43px;
	border-top: 2px solid #febe00;
	margin-top: -12px;
}
.pd_no .pd_21{
	font-size: 14px;
	font-weight: bold;
	color:#0d8fe5;
	line-height: 24px;
}
.pd_22{
	float: left;
	width: 703px;
}
.pd_23{
	float: left;
	width: 703px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #bfe3ff;
	margin-top: 10px;
}
.pd_24{
	font-size: 14px;
	font-weight: bold;
}
.pd_25{
	font-size: 12px;
	color:#666666;
}
.pd_26{
	font-size: 12px;
	color:#ff7a17;
}
.sp2{
	font-size: 16px;
}
.pd_23 ul{
	float: left;
}
.pd_27{
	margin: 0 9px;
}
.pd_28{
	float: left;
	width: 703px;
	height: 35px;
	background:#0d8fe5;
}
.pd_29{
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: white;
	line-height: 35px;
	text-indent: 10px;
	margin-right: 5px;
}
.pd_28 li{
	float: left;
	font-size: 14px;
	margin-left: 3px;
}
.pd_c_yes{
	float: left;
	width: 55px;
	height: 28px;
	background: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-top: 7px;
	line-height: 28px;
	text-align: center;
	color:#0d8fe5;
	font-weight: bold;
}
.pd_c_no{
	float: left;
	width: 55px;
	height: 28px;
	margin-top: 7px;
	line-height: 28px;
	text-align: center;
	color:white;
	font-weight: bold;
}
.pd_30{
	float: left;
	width: 703px;
	height: 36px;
	border-bottom: 2px solid #0d8fe5;
	font-size: 18px;
	color: #0d8fe5;
	line-height: 43px;
	text-indent: 10px;
	font-weight: bold;
}
.pd_31{
	float: left;
	width: 703px;
	height: 25px;
	background:#e6f2ff;
	margin-top: 8px;
	font-size: 12px;
}
.pd_32{
	float: left;
	width: 703px;
	height: 210px;
}

.pd_33{
	float: left;
	color:#333333;
	line-height: 25px;
	font-weight: bold;
	text-indent: 10px;
}
.pd_34{
	float: left;
	width: 120px;
	color:#333333;
	line-height: 25px;
	font-weight: bold;
}
.pd_35{
	float: left;
	width: 96px;
	color:#333333;
	line-height: 25px;
	font-weight: bold;
}
.pd_36{
	float: left;
	width: 66px;
	color:#333333;
	line-height: 25px;
	font-weight: bold;
}
.pd_37{
	float: right;
}
.pd_38{
	float: left;
	width: 54px;
	height: 17px;
	line-height: 17px;
	border-radius: 3px;
	background: #72c2ed url(../imgpd/pic_5.gif)2px center no-repeat;
	text-indent: 20px;
	color: white;
	margin-top: 5px;
	margin-right: 20px;
}
.pd_39{
	float: right;
}
.pd_39{
	margin-left: -20px;
}
.pd_40{
	float: left;
	width: 120px;
	color:#333333;
	line-height: 25px;
	font-weight: bold;
}
.pd_41{
	float: left;
	width: 96px;
	color:#333333;
	line-height: 25px;
	font-weight: bold;
}
.pd_42{
	width: 703px;
	float: left;
	height: 30px;
	border-bottom: 1px dashed #0090ff;
}
.bm_4{
	float: left;
	width: 980px;
	margin-top: 20px;
}
.bm_5{
	float: left;
	margin-right: 9px;
}
.bm_6{
	float: left;
	margin-right: 9px;
}
.bm_7{
	float: left;
	margin-right: 9px;
}
.bm_8{
	float: right;
}